USE [master]
GO
/****** Object:  Database [dbBDJ18pos]    Script Date: 3/7/2018 10:57:14 PM ******/
CREATE DATABASE [dbBDJ18pos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbBDJ18pos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbBDJ18pos.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbBDJ18pos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbBDJ18pos_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbBDJ18pos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbBDJ18pos]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[origin] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[category]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[description] [varchar](500) NULL,
	[categoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[city]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[city](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[countryId] [int] NOT NULL CONSTRAINT [DF_city_countryId]  DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[country]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[country](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[employee]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[contact] [varchar](100) NULL,
	[email] [varchar](200) NULL,
	[password] [varchar](300) NULL,
	[type] [int] NULL,
	[address] [varchar](50) NULL CONSTRAINT [DF_employee_address]  DEFAULT ('NA'),
	[cityId] [int] NULL CONSTRAINT [DF_employee_cityId]  DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ledger]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ledger](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[contact] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](500) NOT NULL,
	[gender] [int] NOT NULL,
	[dateOfBirth] [date] NULL,
	[address] [varchar](500) NULL,
	[cityId] [int] NOT NULL,
	[createDate] [datetime] NULL DEFAULT (getdate()),
	[image] [image] NULL,
	[type] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[code] [varchar](200) NULL,
	[description] [varchar](500) NULL,
	[brandId] [int] NOT NULL,
	[categoryId] [int] NOT NULL,
	[createDate] [date] NULL DEFAULT (getdate()),
	[price] [float] NOT NULL CONSTRAINT [DF_product_price]  DEFAULT ((1200)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[productImage]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[productImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NOT NULL,
	[image] [image] NOT NULL,
	[title] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[productPrice]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productPrice](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[unitId] [int] NOT NULL,
	[price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[purchase]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [int] NOT NULL,
	[dateTime] [datetime] NULL DEFAULT (getdate()),
	[ledgerId] [int] NOT NULL,
	[employeeId] [int] NOT NULL,
	[total] [float] NOT NULL,
	[vat] [float] NULL,
	[discount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[purchaseDetails]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[purchaseDetails](
	[purchaseId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[qty] [int] NOT NULL,
	[rate] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[purchaseId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[transaction]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[transaction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [varchar](50) NOT NULL,
	[reference] [varchar](200) NULL,
	[dateTime] [datetime] NULL,
	[ledgerId] [int] NOT NULL,
	[employeeId] [int] NOT NULL,
	[debit] [float] NULL,
	[credit] [float] NULL,
	[remarks] [varchar](500) NULL,
 CONSTRAINT [PK__transact__3213E83F069D4F47] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[unit]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[unit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[description] [varchar](500) NULL,
	[primaryQty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vwProduct]    Script Date: 3/7/2018 10:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwProduct]
as
select p.id, p.name, p.code, p.description, p.brandId, b.name as brand, p.categoryId, c.name as category,
p.createDate
from product as p
left join brand as b on p.brandId = b.id
left join category as c on p.categoryId = c.id
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([id], [name], [origin]) VALUES (1, N'Pata Pata', N'India')
INSERT [dbo].[brand] ([id], [name], [origin]) VALUES (2, N'Eassy', N'Bangladesh')
INSERT [dbo].[brand] ([id], [name], [origin]) VALUES (3, N'Fortuna', N'Italian')
SET IDENTITY_INSERT [dbo].[brand] OFF
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name], [description], [categoryId]) VALUES (1, N'Daily', N'NA', 3)
INSERT [dbo].[category] ([id], [name], [description], [categoryId]) VALUES (3, N'weekly', N'boys product', NULL)
INSERT [dbo].[category] ([id], [name], [description], [categoryId]) VALUES (6, N'Electronics', N'NA', 1)
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([id], [name], [countryId]) VALUES (1, N'dhaka', 1)
INSERT [dbo].[city] ([id], [name], [countryId]) VALUES (3, N'Barishal', 6)
INSERT [dbo].[city] ([id], [name], [countryId]) VALUES (4, N'Rangpur', 1)
SET IDENTITY_INSERT [dbo].[city] OFF
SET IDENTITY_INSERT [dbo].[country] ON 

INSERT [dbo].[country] ([id], [name]) VALUES (1, N'Bangladesh')
INSERT [dbo].[country] ([id], [name]) VALUES (3, N'Pakisthani')
INSERT [dbo].[country] ([id], [name]) VALUES (4, N'Nepal')
SET IDENTITY_INSERT [dbo].[country] OFF
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([id], [name], [contact], [email], [password], [type], [address], [cityId]) VALUES (2, N'Piper', N'055555', N'piper@gmail.com', N'12', 1, N'NA', 1)
INSERT [dbo].[employee] ([id], [name], [contact], [email], [password], [type], [address], [cityId]) VALUES (3, N'pasha', N'01547454544', N'pas@gmail.com', N'12', 0, N'NA', 3)
INSERT [dbo].[employee] ([id], [name], [contact], [email], [password], [type], [address], [cityId]) VALUES (4, N'Celtic', N'01199115590', N'celtic@gmail.com', N'123', 1, N'NA', 5)
SET IDENTITY_INSERT [dbo].[employee] OFF
SET IDENTITY_INSERT [dbo].[ledger] ON 

INSERT [dbo].[ledger] ([id], [name], [contact], [email], [password], [gender], [dateOfBirth], [address], [cityId], [createDate], [image], [type]) VALUES (1, N'Mahabub', N'01681416002', N'mahabub@gmail.com', N'1234', 1, CAST(N'1995-12-01' AS Date), N'Savar', 1, CAST(N'2017-12-01 00:00:00.000' AS DateTime), NULL, N'NA')
SET IDENTITY_INSERT [dbo].[ledger] OFF
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [name], [code], [description], [brandId], [categoryId], [createDate], [price]) VALUES (13, N'electronics', N'e5', N'wire', 3, 3, CAST(N'2017-12-31' AS Date), 1200)
INSERT [dbo].[product] ([id], [name], [code], [description], [brandId], [categoryId], [createDate], [price]) VALUES (15, N'computer', N'c210', N'laptop', 2, 1, CAST(N'2017-12-31' AS Date), 1200)
INSERT [dbo].[product] ([id], [name], [code], [description], [brandId], [categoryId], [createDate], [price]) VALUES (1015, N'IProduct', N'I013', N'Elit', 7, 7, CAST(N'2018-01-20' AS Date), 1200)
SET IDENTITY_INSERT [dbo].[product] OFF
SET IDENTITY_INSERT [dbo].[productImage] ON 

SET IDENTITY_INSERT [dbo].[productImage] OFF
SET IDENTITY_INSERT [dbo].[purchase] ON 

INSERT [dbo].[purchase] ([id], [number], [dateTime], [ledgerId], [employeeId], [total], [vat], [discount]) VALUES (2, 1, CAST(N'2018-03-05 20:02:07.300' AS DateTime), 3, 3, 57500, 2.56, 2.56)
INSERT [dbo].[purchase] ([id], [number], [dateTime], [ledgerId], [employeeId], [total], [vat], [discount]) VALUES (3, 12, CAST(N'2018-03-05 20:13:17.753' AS DateTime), 4, 4, 6000, 2.56, 2.56)
INSERT [dbo].[purchase] ([id], [number], [dateTime], [ledgerId], [employeeId], [total], [vat], [discount]) VALUES (5, 4, CAST(N'2018-03-05 20:22:59.360' AS DateTime), 3, 6, 101200, 2.56, 2.56)
SET IDENTITY_INSERT [dbo].[purchase] OFF
INSERT [dbo].[purchaseDetails] ([purchaseId], [productId], [qty], [rate]) VALUES (2, 13, 5, N'1500')
INSERT [dbo].[purchaseDetails] ([purchaseId], [productId], [qty], [rate]) VALUES (2, 15, 1, N'50000')
INSERT [dbo].[purchaseDetails] ([purchaseId], [productId], [qty], [rate]) VALUES (3, 13, 4, N'1200')
SET IDENTITY_INSERT [dbo].[transaction] ON 

INSERT [dbo].[transaction] ([id], [number], [reference], [dateTime], [ledgerId], [employeeId], [debit], [credit], [remarks]) VALUES (1, N'atn51', N'51', CAST(N'2018-02-21 21:15:54.000' AS DateTime), 4, 4, 0, 3600, N'Automatic Transaction during Purchase')
INSERT [dbo].[transaction] ([id], [number], [reference], [dateTime], [ledgerId], [employeeId], [debit], [credit], [remarks]) VALUES (2, N'atn51', N'51', CAST(N'2018-02-21 21:15:54.000' AS DateTime), 4, 4, 3000, 0, N'Automatic Transaction during Purchase')
SET IDENTITY_INSERT [dbo].[transaction] OFF
SET IDENTITY_INSERT [dbo].[unit] ON 

INSERT [dbo].[unit] ([id], [name], [description], [primaryQty]) VALUES (2, N'Shop', N'HandWash', 10)
INSERT [dbo].[unit] ([id], [name], [description], [primaryQty]) VALUES (3, N'Shop', N'VimBar', 1)
INSERT [dbo].[unit] ([id], [name], [description], [primaryQty]) VALUES (4, N'LayerShot', N'Body Spray', 2)
SET IDENTITY_INSERT [dbo].[unit] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__brand__72E12F1B22504FD3]    Script Date: 3/7/2018 10:57:15 PM ******/
ALTER TABLE [dbo].[brand] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__category__72E12F1B882ECB00]    Script Date: 3/7/2018 10:57:15 PM ******/
ALTER TABLE [dbo].[category] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__city__72E12F1BE855B011]    Script Date: 3/7/2018 10:57:15 PM ******/
ALTER TABLE [dbo].[city] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__ledger__870C3C8BE0AE770F]    Script Date: 3/7/2018 10:57:15 PM ******/
ALTER TABLE [dbo].[ledger] ADD UNIQUE NONCLUSTERED 
(
	[contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__ledger__AB6E6164EF1A59BD]    Script Date: 3/7/2018 10:57:15 PM ******/
ALTER TABLE [dbo].[ledger] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD FOREIGN KEY([categoryId])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK_employee_city] FOREIGN KEY([cityId])
REFERENCES [dbo].[city] ([id])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK_employee_city]
GO
ALTER TABLE [dbo].[ledger]  WITH CHECK ADD FOREIGN KEY([cityId])
REFERENCES [dbo].[city] ([id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([categoryId])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[productImage]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[product] ([id])
GO
USE [master]
GO
