@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>University Course and Result Management System</h3>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Course Allocation</h2>
        <p>
            The allocation of students to courses is a wide-spread and repeated task in higher education, often accomplished by a simple first-come first-served (FCFS) procedure. FCFS is neither stable nor strategy-proof, however. The Nobel Prize in Economic Sci-ences was awarded to Al Roth and Lloyd Shapley for their work on the theory of stable allocations. This theory was influential in many areas, but found surprisingly little ap-plication in course allocation as of yet. In this paper, we survey different approaches for course allocation with a focus on appropriate stable matching mechanisms. We will discuss two such mechanisms in more detail, the Gale-Shapley student optimal stable mechanism (SOSM) and the efficiency adjusted deferred acceptance mecha-nism (EADAM). EADAM can be seen as a fundamental recent contribution which re-covers efficiency losses from SOSM at the expense of strategy-proofness. In addition to these two important mechanisms, we provide a survey of recent extensions with respect to the assignment of 
        </p>
      @*  <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Save Studen Data</h2>
        <p>He hadn't taken his medication in weeks—didn't need it. His clarity and focus over the past couple of months were sharper than they had ever been. As he stood in the hallway preparing to enter the campus library through a side door, his sweating hands firmly clutched the grips of the twin Glock 22 pistols he had ordered online.

         If only there had been a way to look into a crystal ball and see that this horrific confrontation was about to occur, it could have been prevented. In the aftermath of nearly every large-scale act of campus violence in the United States, investigation has revealed that early-warning signs had been present but not recognized or acted upon. As a response, nearly all college and university campuses have developed threat-assessment teams, whereby key members of various campus groups come together regularly to share information and discuss troubling student behavior.</p>
       @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Save Teacher Data</h2>
        <p>Students explore energy sources, efficiency, and conservation with hands-on activities for the
classroom and home environments. Each student receives a Home Energy Efficiency Kit that
corresponds with the classroom lessons, and allows students to share what they have learnedUnfortunately, these teams are only able to assess students whose issues have already led to problematic behaviors noticed by people on campus. Existing technology, though, offers 
with their families.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>